
  <script>
		function setalma1()
		{
		if(document.getElementById('g336__alma1').getAttribute('transparency') == "1")
		document.getElementById('g336__alma1').setAttribute('transparency', "0");
		else
		document.getElementById('g336__alma1').setAttribute('transparency', "1");
		}
		</script>
  <script>
		function setRotationModel()
		{
		if(document.getElementById('g336__rotation').getAttribute('transparency') == "1")
		document.getElementById('g336__rotation').setAttribute('transparency', "0.8");
		else
		document.getElementById('g336__rotation').setAttribute('transparency', "1");
		}
		</script>
  <script>
		function setNorthStream()
		{
		if(document.getElementById('g336__north_stream').getAttribute('transparency') == "1")
		document.getElementById('g336__north_stream').setAttribute('transparency', "0");
		else
		document.getElementById('g336__north_stream').setAttribute('transparency', "1");
		}
		</script>
  <script>
		function setSouthStream()
		{
		if(document.getElementById('g336__south_stream').getAttribute('transparency') == "1")
		document.getElementById('g336__south_stream').setAttribute('transparency', "0");
		else
		document.getElementById('g336__south_stream').setAttribute('transparency', "1");
		}
		</script>

<x3d width='600px' height='600px'> 
  <scene> 
    <inline url="{{ include.file | relative_url }}" nameSpaceName="{{ include.name }}" mapDEFToID="true" onclick=''/>
  </scene> 
</x3d> 
<br>
<button onclick="setalma1();" style="color:black">ALMA1</button> 
<button onclick="setRotationModel();" style="color:black">Rotation model</button> 
<button onclick="setNorthStream();" style="color:blue">North stream</button> 
<button onclick="setSouthStream();" style="color:red">South stream</button> 
