---
layout: default
---
<!-- page.html -->
        <div class="post">

          <header class="post-header">
            {% if page.logo %}
              <figure>
                <img
                    src="{{ page.logo }}"
                    width=200p
                    height="auto"
                />
              </figure>
            {% endif %}
            <h1 class="post-title">{{ page.title }}</h1>
            <p class="post-description">{{ page.description }}</p>
          </header>

          <article>
            {{ content }}
          </article>

        </div>
